.app {
  min-height: 100vh;
}

.mainWrapper {
  position: relative;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  transition: padding-right 0.3s ease;
  width: 100%;
}

@media (min-width: 1920px) {
  .mainWrapper {
    max-width: 1600px;
  }
}

@media (min-width: 1600px) {
  .mainWrapper {
    max-width: 1400px;
  }
}

@media (min-width: 1400px) {
  .mainWrapper {
    max-width: 1200px;
  }
}

@media (max-width: 1400px) {
  .mainWrapper {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  .mainWrapper {
    padding: 0 15px;
  }
}